# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# Editors / IDEs
.vscode/
.idea/
*.swp

# C / C++ build artifacts
*.exe
*.o
*.obj
*.ko
*.out

# Visual Studio build output
[Dd]ebug/
[Rr]elease/
x64/
x86/
.vs/

# OS
.DS_Store
Thumbs.db
